fastapi
uvicorn 
python-multipart
python-dotenv
 
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-mistralai
langchain-chroma

chromadb

pypdf

tiktoken

langchain-core
langchain-community
langchain-mistralai
langchain-chroma
chromadb
pypdf
tiktoken

